.container{
	width:95%;
	margin-left:2.5%;
	margin-top:20px;
}
form.login{
	width:400px;
	margin:auto;
	text-align:center;
}
#addEntry, #deleteEntry{
	float:right;
	margin:10px;
}
#addEntry{
	color:green;
}
#deleteEntry{
	color:red;
}
.entry{
	height:300px;
}
.entry .btn-primary{
	position:absolute;
	bottom:40px;
}
h1#benutzerverwaltung{
	float:left;
}
li.userItem{
	height:40px;
}
ul.searchResult li{
	list-style:none;
	font-size:16px;
	height:60px;
}
ul.searchResult li::after{
	height:1px;
	width:100%;
	display:block;
	background-color:#eee;
	margin-left:-20px;
	margin-top:10px;
	margin-bottom:10px;
	content:'';
}
ul.searchResult li a{
	float:right;
	margin-top:-10px;
}